<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hi_depok.hi_depok">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".Activity_Main.SplashScreen"
            android:noHistory="true"
            android:theme="@style/Background_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity_Main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Background_main">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity_Main.sikepok"
            android:theme="@style/Background">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity_Main.kapok"
            android:theme="@style/Background">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity_Main.kadepok"
            android:theme="@style/Background">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity_Main.lapok"
            android:theme="@style/Background">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity_Main.ucok"
            android:theme="@style/Background">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity_Main.about"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity_Main.login"
            android:theme="@style/Background_main" />
        <activity
            android:name=".Activity_Main.setprofile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity_Main.profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity_Main.changepass"
            android:noHistory="true" />
        <activity
            android:name=".Activity_Main.fokopok"
            android:theme="@style/Background" />
        <activity android:name=".Ucok.ucok_content"
            android:parentActivityName=".Activity_Main.ucok"
            android:label="Sistem Informasi UMKM"/>
        <activity android:name=".Ucok.UcokDetailActivity"
            android:parentActivityName=".Ucok.ucok_content"
            android:label="Sistem Informasi UMKM"/>
        <activity android:name=".fokopok.fokopok_content" />
        <activity
            android:name=".Sikepok_Diagnosa.Anggota_badan_badan"
            android:label="Kepala"
            android:parentActivityName=".Sikepok_Diagnosa.Diagnosa" />
        <activity
            android:name=".Sikepok_Diagnosa.Apotik1"
            android:label="Apotek"
            android:parentActivityName=".Sikepok_Diagnosa.Lokasi" />
        <activity
            android:name=".Sikepok_Diagnosa.Deskripsi"
            android:label="Mata Katarak"
            android:parentActivityName=".Sikepok_Diagnosa.SikepokDiagnosa" />
        <activity
            android:name=".Sikepok_Diagnosa.Diagnosa"
            android:label="Diagnosa"
            android:parentActivityName=".Sikepok_Diagnosa.SikepokDiagnosa" />
        <activity
            android:name=".Sikepok_Diagnosa.Ensiklopedia"
            android:label="Ensiklopedia"
            android:parentActivityName=".Sikepok_Diagnosa.SikepokDiagnosa" />
        <activity
            android:name=".Sikepok_Diagnosa.Lokasi"
            android:label="Lokasi"
            android:parentActivityName=".Sikepok_Diagnosa.SikepokDiagnosa" />
        <activity
            android:name=".Sikepok_Diagnosa.Sugesti"
            android:label="Sugesti"
            android:parentActivityName=".Sikepok_Diagnosa.Anggota_badan_badan" />
        <activity
            android:name=".Sikepok_Diagnosa.SikepokDiagnosa"
            android:theme="@style/Background_main"/>
        <activity android:name=".Sikepok_Panic.PanicActivity"
            android:parentActivityName=".Activity_Main.sikepok"
            android:theme="@style/Background_PanicButton">
            </activity>
        <activity
            android:name=".Sikepok_Panic.MenuActivity"
            android:label="Tempat Sehat"
            android:parentActivityName=".Sikepok_Panic.PanicActivity" />
        <activity
            android:name=".Sikepok_Panic.DetailActivity"
            android:parentActivityName=".Sikepok_Panic.MenuActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".Sikepok_Panic.MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".Activity_Main.WelcomeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Sikepok_Panic.ListActivity"
            android:parentActivityName=".Sikepok_Panic.PilihanLainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Sikepok_Panic.PilihanLainActivity"
            android:parentActivityName=".Sikepok_Panic.PanicActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".Sikepok_Panic.admin_main" />
        <activity android:name=".Lapok.fragment.DescriptionForm" />
        <activity android:name=".Lapok.lapok_content" />

        <activity android:name=".Kadepok_Donasi.kadepok_donasi_verify" />
        <activity android:name=".Kadepok_Donasi.kadepok_donasi_upload" />
        <activity android:name=".Kadepok_Cherish.kadepok_cherish_detail_anak" />
        <activity android:name=".Kadepok_Cherish.kadepok_cherish_detail_event" />
        <activity android:name=".Kadepok.kadepok_content" />
        <activity android:name=".Kadepok.KadepokDetailActivity" />

        <activity android:name=".Kadepok_Volunteer.kadepok_volunteer_form"></activity>
        <activity android:name=".Sikepok_RS.deskripsiApotek" />
        <activity android:name=".Sikepok_RS.deskripsi_klinik" />
        <activity android:name=".Sikepok_RS.regis_pasien_baru" />
        <activity android:name=".Sikepok_RS.regis_pasien_lama" />
        <activity android:name=".Sikepok_RS.regis_berobat" />
        <activity android:name=".Sikepok_RS.ketentuan" />
        <activity android:name=".Sikepok_RS.detail_post" />
        <activity android:name=".Sikepok_RS.detail_post_saya" />
        <activity android:name=".Sikepok_RS.post_saya" />
        <activity
            android:name=".Sikepok_RS.list_diskusi"
            android:label="@string/title_activity_list_diskusi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Sikepok_RS.klinik" />
        <activity android:name=".Sikepok_RS.apotek" />
        <activity android:name=".Sikepok_RS.registrasi" />
        <activity android:name=".Sikepok_RS.forum" />
        <activity android:name=".Sikepok_RS.rs_terdekat" />
        <activity android:name=".Sikepok_RS.daftar_rs" />
        <activity
            android:name=".Sikepok_RS.menu_rs"
            android:label="@string/title_activity_menu_rs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Sikepok_RS.RSActivity"
            android:theme="@style/Background_main" />
        <activity android:name=".Kapok.join_kapok">
            <uses-permission android:name="android.permission.VIBRATE" />
        </activity>
        <activity android:name=".Kapok.activity_selengkapnya" />
        <activity android:name=".Kapok.activity_view_ulasan" />
        <activity android:name=".Kapok.KapokActivity" />
        <activity android:name=".Fokopok_Admin.FokopokLogin" />
        <activity
            android:name=".Fokopok_Admin.FokopokHome"
            android:label="FOKOPOK"
            android:parentActivityName=".Fokopok_Admin.FokopokLogin">

        </activity>

        <!--<activity android:name=".fokopok.fokopok_content" />-->
        <activity android:name=".Ucok.danus_activity"
            android:parentActivityName=".Activity_Main.ucok"
            android:label="Riwayat Dana Usaha"/>
        <activity android:name=".Ucok.hasil_calculate"
            android:parentActivityName=".Ucok.danus_activity"
            android:label="Rekomendasi Dana Usaha"/>
        <activity android:name=".Ucok.detail_danus"
            android:parentActivityName=".Ucok.hasil_calculate"
            android:label="Detail"/>
        <activity
            android:name=".Ucok.detail_target"
            android:parentActivityName=".Ucok.danus_activity" />
        <activity android:name=".fokopok.message"></activity>

    </application>

</manifest>